---
import Link from '../components/Link.astro'
---

<div x-data="{ showmenu: false }" class="p-4 sticky lg:fixed w-full bg-gray-800 text-white" >
    
<div id="navbar" class="flex flex-row justify-between">

    <div id="logo" class="transition-transform duration-300 ease-in-out transform hover:scale-110 hover:text-yellow-500">
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
            </svg>
        </a>
    </div>

<nav id="desktopmenu" class="hidden lg:block">
<ul class="flex flex-row gap-4">
<li class=""><Link href="#kobenhavnerbilleder" >Københavnerbilleder</Link></li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
<li class=""><Link href="#bogens-indhold" >Bogens indhold</Link></li>
<li class=""><Link href="#forfatteren" >Forfatteren</Link></li>
<li class=""><Link href="#kob-nu" >Køb nu</Link></li>
</ul>
</nav>

<button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">Menu</button>
</div>

<nav id="mobilmenu" class="flex flex-col content-center pt-4" 
x-show="showmenu" x-transition x-on:click="showmenu = true" x-on:click.outside="showmenu = false">
<ul >
<li class="text-center py-2 "><Link href="#kobenhavnerbilleder" >Københavnerbilleder</Link></li>
<li class="text-center py-2 "><Link href="#bogens-indhold" >Bogens indhold</Link></li>
<li class="text-center py-2 "><Link href="#forfatteren" >Forfatteren</Link></li>
<li class="text-center py-2 "><Link href="#kob-nu" >Køb nu</Link></li>
</ul>
</nav>

